In [1]:
%matplotlib inline
import category_encoders as ce
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [12]:
trainf = pd.read_csv('train_features.csv')
traintar = pd.read_csv('train_labels.csv')

testf = pd.read_csv('test_features.csv')

In [3]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 500

In [30]:
traintar['status_bin'] = traintar['status_group'].replace({'functional':1,
                                                           'functional needs repair':0, 
                                                           'non functional': 0})
traintar['status_bool'] = traintar['status_bin'].astype(bool)

traintar['status_ord'] = traintar['status_group'].replace({'functional':2,
                                                           'functional needs repair':1, 
                                                           'non functional': 0})

In [11]:
Xtr.shape, ytr.shape, Xva.shape, yva.shape

((44550, 40), (44550, 2), (14850, 40), (14850, 2))

In [36]:
features_all = trainf.columns

features_nonull = trainf.dropna(axis=1).columns

features_numeric = trainf.select_dtypes(include='number').columns


X = trainf[features_all]
y = traintar['status_ord']

Xtr, Xval, ytr, yval = train_test_split(X, y, 
                                        train_size=.80, 
                                        test_size=.20, 
                                        random_state=42)

Xte = testf[features_all]

In [37]:
import numpy as np
Xtr['fim'] = (Xtr['funder'].isnull().astype(int) + 
              Xtr['installer'].isnull().astype(int) + 
              Xtr['management'].isnull().astype(int))
Xval['fim'] = (Xval['funder'].isnull().astype(int) + 
              Xval['installer'].isnull().astype(int) + 
              Xval['management'].isnull().astype(int))

Xte['fim'] = (Xte['funder'].isnull().astype(int) + 
              Xte['installer'].isnull().astype(int) + 
              Xte['management'].isnull().astype(int))

/home/joe2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/joe2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [51]:
features = ['longitude', 'latitude', 'quantity', 'gps_height', 'construction_year', 'region_code', 'district_code']
encoder = ce.OrdinalEncoder()
X_train_encoded = encoder.fit_transform(Xtr[features])
X_val_encoded = encoder.transform(Xval[features])
model = RandomForestClassifier(verbose=10, n_estimators=100, n_jobs=-1, random_state=42)
model.fit(X_train_encoded, ytr)
model.score(X_val_encoded, yval)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:    0.2s

building tree 1 of 100
building tree 2 of 100
building tree 3 of 100
building tree 4 of 100
building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100

[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    0.4s

building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100
building tree 29 of 100

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    0.6s

building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100

[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:    0.9s

building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    1.1s

building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100

[Parallel(n_jobs=-1)]: Done  53 tasks      | elapsed:    1.4s

building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100

[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:    1.6s

building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100

[Parallel(n_jobs=-1)]: Done  77 tasks      | elapsed:    2.0s

building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100

[Parallel(n_jobs=-1)]: Done  90 tasks      | elapsed:    2.4s

building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    2.6s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done   5 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done  17 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done  53 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done  64 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done  77 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done  90 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.2s finished

0.7537878787878788

In [16]:
Xtr.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
3607,454,50.0,2013-02-27,Dmdd,2092,DMDD,35.426020,-4.227446,Narmo,0,Internal,Bashnet Kati,Manyara,21,1,Babati,Bashinet,160,True,GeoData Consultants Ltd,Water Board,NaN,True,1998,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
50870,510,0.0,2011-03-17,Cmsr,0,Gove,35.510074,-5.724555,Lukali,0,Internal,Lukali,Dodoma,1,6,Bahi,Lamaiti,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
20413,14146,0.0,2011-07-10,Kkkt,0,KKKT,32.499866,-9.081222,Mahakama,0,Lake Rukwa,Chawalikozi,Mbeya,12,6,Mbozi,Ndalambo,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,other,other,other,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,other,other
52806,47410,0.0,2011-04-12,NaN,0,NaN,34.060484,-8.830208,Shule Ya Msingi Chosi A,0,Rufiji,Shuleni,Mbeya,12,7,Mbarali,Chimala,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
50091,1288,300.0,2011-04-05,Ki,1023,Ki,37.032690,-6.040787,Kwa Mjowe,0,Wami / Ruvu,Ngholong,Morogoro,5,1,Kilosa,Chakwale,120,True,GeoData Consultants Ltd,VWC,NaN,True,1997,other,other,other,vwc,user-group,pay when scheme fails,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,other,other

In [20]:
Xtr[['latitude', 'longitude']].describe()

           latitude     longitude
count  4.752000e+04  47520.000000
mean  -5.705002e+00     34.091316
std    2.943503e+00      6.538403
min   -1.164944e+01      0.000000
25%   -8.532465e+00     33.084320
50%   -5.017697e+00     34.911677
75%   -3.326464e+00     37.180585
max   -2.000000e-08     40.345193

In [31]:
import matplotlib.pyplot as plt

In [45]:
sns.catplot(Xtr['gps_height'], [ytr])

TypeError: object of type 'NoneType' has no len()

In [43]:
Xtr.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    2876
gps_height                   0
installer                 2889
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 296
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            2689
recorded_by                  0
scheme_management         3102
scheme_name              22523
permit                    2439
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
fim                          0
dtype: int64